.sidebar { 
    position: fixed;

    width: 20%;
    height: 100%;

    margin-top: 50px;
}


#left {
	left: 0px;
}

#right {
	right: 0px;
}


.sidebar img {
	width: 80%;
	margin: 30px;
	border: 1px solid black;
}