h1 {
  color: #309;
  font: 40px/1 Cambria, serif;
}

h2 {
	color: #309;
	font: 12px/1 Cambria, serif;
}

p{
font: 16px/1.4 Calibri, sans-serif;
}

section{
font: 16px/1.4 Calibri, sans-serif;
}

b{
	font: 16px/1.4 Calibri, sans-serif;
}

.contributors { 
	border:2px solid #ccc; width:250px; height: 100px; overflow-x: auto; overflow-y: auto; 
}