body {
	background-image: url('images/background.jpeg');
}



.header {
	background-color: #DDD;
	position: relative;
	text-align: center;
	margin: 0;
	height: 40px;
	font-family: 'Arial Black';
} 


.header .partoutside {
	background-color: #006;
	color: #006;
	width: 33%;
	float: left;
}

.header .partinside {
	background-color: #DDD;
	width: 33%;
	float: left;
}



.header p {
	text-align: left;
	font-size: 10px;
	margin-left: 10px;
}


.header t {
	font-size: 40px ;
	color: #006;
}






.contributors { 
	border:2px solid #ccc; width:250px; height: 100px; overflow-x: auto; overflow-y: auto; 
}