h1 {
  color: #B07;
  font: 32px/1 Cambria, Arial, sans-serif;
}
header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  padding-left: 84px;
}
ul{
	font: 19px/1 Calibri, Arial;
	color: #B07;
}
p{
font: 25px/1 Cambria, Arial, sans-serif;
color: #222;
}
table{
font: 19px/1 Calibri, Arial;
color: #222;
border-style: dotted

}
#head{
	color: #B07;
	font:19px/1 Cambria, Arial, sans-serif;
}
td{
padding: 8px;
border-style: solid;
border-width: 2px

}